.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0rem 8.75rem;
    margin-top: 9.375rem;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #171717;
    font-size: 3.75rem;
    font-weight: 600;
    display: flex;
    justify-content: left;
}
.offers-left p{
    color: #171717;
    font-size: .9375;
    font-weight: 600;
    display: flex;
    justify-content: left;
}
.offers-left button{
    width: 11.375rem;
    height: 4.0625rem;
    border-radius: 2.1875rem;
    background: #ff4141;
    border: none;
    color: white;
    font-size:1.375rem;
    font-weight: 500;
    margin-top: 1.875rem;
    cursor: pointer;

}
.offers-left button:active{
    background: #171717;
}
.offers-left button:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 3.125rem;
}
.offers-right img{
    width: 60%;
    height: 52vh;
}